body {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

#gameboard td {
    border: 2px solid;
    height: 120px;
    width: 120px;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    cursor: pointer;
    color: lightslategray;
}

/* #gameboard table {
    border-collapse: collapse;
    width: 368px;
} */
